.container{
    width:100%;
    height:4000px;
    margin: auto;

   }

.header{
    width:100%;
    height:1800px;


}
.top_header{
            width: 100%;
            height:112px;
            margin-top:-10px;
            position: fixed;
            z-index: 100;
}
.top_left{
          float: left;
           width: 50%;
           height:88.6%;
           background-color:white;



}


.logo{
    margin-top:4px;
    padding:5px;
    color:white;
    margin-left:55px;
}

.symbol{
        width:180px;
        height:55px;
        padding:10px;
        margin-top:-2px;
        margin-bottom:20px;


}
.sub_Texts {
    margin-top: -25px;
    color: #2a88bd;
    font-family: Roboto Condensed, serif;
    font-size: 18px;
    margin-left: 5px;
}
/*
.logo span{
    text-align:center;
    font-size:30px;
    padding-right:10px;
    border-radius:4px;
    margin-right:2px;
    font-family: myFirstFont;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;


}
.last_texts_top{
    font-size:17px;
    margin-left:-5px;
    color:lightseagreen;
    font-family:Calibri;
    margin-top:10px;


}*/

.top_right{
          float:right;
          width:50%;
          height:100%;





}
.navis{
    width:50%;
    height:100px;
    position:absolute;
    top:0px;
    right:0;
    background-color:#DFD10F;
    margin-right:0px;

}

.navis:after{
    content: "";
    position: absolute;
    top:0px;

    right:100%;
    border-width:50px;
    border-style: solid;
    border-color:transparent  #DFD10F #DFD10F transparent;
}



.navis ul{
    list-style: none;
    margin-right:15px;
    margin-top: -1px;

}
/*https://en.wikipedia.org/wiki/Font_family_(HTML) :font family */

.navis ul li{
    font-size:13px;
    font-style:	normal;
    color:white;
     margin-right:23px;

    /*https://www.youtube.com/watch?v=47QSujKvQ-Q
    http://yellowlg.demo.flexitech.io/#/about-us*/
}


.navis ul li a{
               text-decoration: none;
               color:white;
              font-family: Roboto Condensed, serif;
              margin-right:10px;
              font-size:14.5px;
}


.container-header{
    background-size: cover;
    width: 100%;
    height:500px;
    background-repeat: no-repeat;
    margin-top: -10px;
    z-index: 1;
    position:inherit;



    top:0;
    left:0;



}


.slide-contain{
    display:block;


}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    margin-left:20px;
    opacity:0;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.container-header:hover .next,.container-header:hover .prev{
    opacity :1;
}


/* Position the "next button" to the right */
.next {
    right: 20px;;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
    right: 20px;;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.button-head{
    position:absolute;
    top:400px;
    left:40%;
    background-color:#DFD10F;
    padding:10px;
    border:none;
    font-weight:bold;

}


.button-head:hover{
    opacity:0.7;
    color:white;
}




.sub_bg_img{
           height:130px;
           width:70%;
           background-color:rgba(0,0,0,0.54);
           margin-top: -35%;
           margin-left:18%;
           position:relative;



}

.sub_text{

    color:whitesmoke;
    font-family:Roboto Condensed, serif;
    font-size:21px;
    text-align:center;
    margin-top:50px;

    letter-spacing: 1px;
    position: inherit;


 }
.btn{
    margin-left:350px;
    width:200px;
    height:40px;
    background:gold;
    font-size:17px;
    margin-top:30px;
    font-family: Roboto Condensed, serif;
    text-align: center;
    position: inherit;
    z-index: 1;

}



.dot{
    height:4px;
    width:35px;
    position:relative;
    bottom:10px;
    right:-2%;
    background-color:rgba(243,240,240,0.5);
    display:inline-block;
    transition: background-color 0.6s ease;
    cursor:pointer;
    margin-top: 170px;

}
@media screen and (max-width:768px){
    .dot{
        bottom:40px;
    }

}
.active, .dot:hover {
    background-color:white;
}


.letter{
    width: 90%;
    height:250px;
    position: inherit;
    margin-top:-78%;
    margin-left:55px;
    font-family: Roboto Condensed, serif;

}

.letter .about{
      color:black;
      font-size: 25px;
    font-family: Roboto Condensed, serif;
}
.t_about{
    font-size:18px;}

.last_header_img{
                 width: 90%;
                 height:570px;
                 margin-left:55px;
                  margin-top:40px;
}
.last_header_img .last_pic{
                        width:100%;
                        height:100%;
                        background-repeat: no-repeat;
                        background-size: cover;
}


.last_header_img  .logos{
    position: absolute;
    margin-top: -17%;
    padding:5px;
    color:white;


}

/*
.logos span{
    text-align: center;
    font-size: 20px;
    padding: 7px;
    border-radius:4px;
    margin-right:-3.5px;



}*/
.body{
    width:90%;
    margin-left:55px;
    height: 1300px;
    position:inherit;
    margin-top:-162%;




}
.body .title{
              color:orange;
              text-align: center;
               font-size:30px;
              font-family: Roboto Condensed, serif;



}

.lines_top{
    margin-left:44%;
    width: 140px;
    margin-top: -4px;
    background-color: yellow;
    height:1px;


}

hr{
    width:14%;
    margin-top:-16px;

   }
.first_title{
    width: 100%;
    height:220px;

    margin-bottom:50px ;

}

.text_left{
          float:left;
          width:60%;
          height:200px;

}

.sub_title{
    font-family: Roboto Condensed, serif;
    font-weight: bold;
    font-size:23px;
    color:#2a88bd;
}

.text_sub_title{
    font-family: Roboto Condensed, serif;
    font-size: 16px;
    margin-top: 20px;
}

.pic_right{
    float:right;
    width:29%;

    height:170px;
    margin-right:1%;



}

.sec_line
{
    width:100%;
    height:220px;
    clear: both;
    margin-top:10px;
    margin-bottom:5%;



}
.pic_left{
    float: left;
    height:170px;
    width:29%;

}

.text_right{
    float: right;
    width: 60%;
    margin-right:1%;
    height:100%;
    position:inherit;

}
.thr_line{

    width:100%;
    height: 200px;

    clear: both;
    position:inherit;
    margin-bottom: 7%;
}
.Text_lefts{
    float:left;
    height: 100%;
    width:60%;

}
.Pic_rights{
    float: right;
    width:29%;
    margin-right:1%;
    height:100%;

}
.last_line{
    width: 100%;
    height:200px;

    clear: both;
}
.Pic_Left{
    width:29%;

    height: 170px;
    float:left;
}

.Text_Right{
    width:60%;
    height: 200px;
    float:right;
    margin-right:1%;
}
h3{
    color:lightseagreen;
    font-family:"Times New Roman";
    margin-bottom: 20px;}

.footer{
      width:100%;
      height:820px;
      clear: both;
      position:inherit;
      margin-top:1%;



}
.last_bg{
        width:100%;
        height: 400px;
        background-size: cover;
        background-repeat:no-repeat;




}
.mirror_bg{
    height:30%;
    width:80%;
    background-color:rgba(0,0,0,0.54);
    margin-top:-200px;
    position:inherit;
    margin-left:140px;
}
.bg_text{
     color:white;
    font-family: Roboto Condensed, serif;
    text-align: center;
    font-size:20px;
    position:inherit;
    margin-top: -230px;

}
.btn_last{
    margin-left:400px;
    width:180px;
    height:42px;
    background:yellow;
    font-size:17px;
    margin-top:20px;
    padding: 0;
    font-family: Roboto Condensed, serif;
    text-align: center;

}
.socailimg{
           margin-top:100px;
           width: 100%;
           height: 300px;
}
.follow{

        width: 100%;
        height: 325px;
}

.end{
    width: 100%;
    height:200px;
    background:Gold;
    margin-top: 260px;
    position: inherit;
}
.end ul{
    list-style: none;
    margin-right: 300px;
}
ul li{
     float: right;
     margin-right:30px;
     margin-top:40px;
     color:grey;
     font-family: Roboto Condensed, serif;
     font-size:20px;

}


.last_copy{
    margin-top:-40px;


}

.middle_line{
    margin-top: -7%;
    margin-left: 40%;
    background-image:linear-gradient(to right,transparent,#e8e8e8,transparent);
    width:300px;
    border: none;
    height:1px;
    


}
.copyright{
    text-align: center;
    color:gray;
    font-size: 14px;
    margin-left:1%;
    margin-top:10px;

}







